table{
    border: 4px;
text-decoration: none;
    margin-right: 10px ;
    background-color: 'black'

}
nav{
    nav-up: auto;
    nav-index: auto;}
    
}
form{
    margin: 4%;
    padding: 5%;
    border: 5%;
}